<!DOCTYPE Html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"
    <title>My Epic Website</title>
  </head>
  <body style="background-color:#fdcb6e">
      <h1 style="color:#2d3436">Welcome to Epic Code.</h1>
        <p style="color:#2d3436">Check it out.</p>
  </body>
</html>
